@font-face {
  src: url(../fonts/OpenSans-Regular.woff2);
  src: url(../fonts/OpenSans-Bold.woff2);
}

/*Styles reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*End of styles reset*/
/*Header styles*/

.noemi-header {
  position: relative;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.noemi-header::before {
  content: "";
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: auto;
}

.top-menu {
  padding-top: 27px;
  padding-left: 18px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noemi-logo {
  width: 180px;
  height: 42px;
  background-image: url(../svg/noemi-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-list {
  display: flex;
  font-size: 13px;
  list-style: none;
  font-family: "Open sans", "Arial", sans-serif;
}

.menu-item {
  margin-right: 34px;
}

.menu-item:last-child {
  margin-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #b59f5b;
}

.noemi-heading {
  padding-top: 105px;
  padding-bottom: 125px;
  font-size: 45px;
  line-height: 75px;
  width: 700px;
  font-family: "Open sans", "Arial", sans-serif;
  margin: 0 auto;
}

/*End of header styles*/
/*In-trend styles section*/

.in-trend{
  padding-top: 65px;
  font-family: "Open sans", "Arial", sans-serif;
}

.in-trend-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.in-trend-header::after {
  content: "";
  display: block;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.in-trend-posts{
  padding-top: 28px;
  display: flex;
  height: 320px;
}

.in-trend-post{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 24.8%;
  background-color: slategray;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  position: relative;
}

.in-trend-post::before {
  content: "";
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.in-trend-post:nth-child(1){
  background-image: url(../img/trend1.jpg);
}

.in-trend-post:nth-child(2) {
  background-image: url(../img/trend2.jpg);
}

.in-trend-post:nth-child(3) {
  background-image: url(../img/trend3.jpg);
}

.in-trend-post:nth-child(4) {
  background-image: url(../img/trend4.jpg);
}

.in-trend-post:last-child{
  margin-right: 0;
}

.in-trend-content{
  position: relative;
  border: 4px solid #b59f5b;
  padding: 32px;
  margin: 0 20px 20px 20px;
}

.in-trend-post-header{
  margin-top: 3px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color:#ffffff;
}

/*End of in-trend styles*/
/*Main section styles*/

.content {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 65px;
}

.posts {
  color: #0f0d0e;
  width: 810px;
  display: flex;
  flex-direction: column;
}

.posts-header{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.post {
  display: flex;
  justify-content: space-between;
  height: 294px;
  margin-bottom: 60px;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Open sans", "Arial", sans-serif;
}

.tags {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: bold;
  font-size: 14px;
}
.tag {
  margin-right: 18px;
}

.tag:hover a {
  color: #0f0d0e;
}

.post-header {
  margin-top: 3px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.post-additional-info{
  margin-top: 24px;
  margin-bottom: 40px;
}

.post-date {
  font-size: 12px;
}
.post-author {
  display: inline-block;
  font-style: normal;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
}
.post-text {
  display: block;
  font-size: 15px;
}
.post-text:nth-child(n+2) {
  margin-top: 10px;
}

/*End of post styles*/
/*Products styles section*/

.our-products{
  font-family: "Open sans", "Arial", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: auto auto 64px;
}

.our-products-header{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.our-products-header::after {
  content: "";
  display: block;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.products{
  display: flex;
}

.product{
  display:flex;
  flex-direction: column;
  width: 30%;
  margin-right: auto;
}

.product:last-child{
  margin-right: 0;
}

.product-picture img{
  width: 90%;
  margin: 0 auto;
  object-fit: cover;
  position: relative;
  top: 20px;
  z-index: -1;
}

.products-description{
  padding: 52px 22px 70px 22px;
  border: 4px solid #b59f5b;
  display:flex;
  flex-direction: column;
  bottom: -12px;
  min-height: 265px;
  flex-grow: 1;
}

.product-header{
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-description{
  font-size: 15px;
  margin-bottom: 20px;
}

a.product-link{
  color: #b59f5b;
}

a.product-link:hover{
  color: #000000;
  cursor: pointer;
}

.product-buy{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price{
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.old-price{
  font-size: 16px;
  text-decoration: line-through;
}

.product-button{
  width: 140px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
  color: #ffffff;
}

.product-button:hover{
  font-size:18px;
  cursor:pointer;
}

.product-button:focus{
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
}
/*End of products styles*/
/*Aside styles section*/

.main-control {
  margin-left: auto;
  color: #0f0d0e;
  width: 275px;
  font-family: "Open sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

.new-posts {
  height: 500px;
}

.new-posts-heading {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.new-posts-heading::after {
  content: "";
  display: block;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.posts-preview {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  height: 70px;
}

.post-preview:nth-child(n + 2) {
  margin-top: 22px;
}

.post-description {
  margin-left: 17px;
}

.new-post-date {
  font-size: 12px;
  opacity: 0.5;
}

.new-post-heading {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.search {
  margin-top: 55px;
  height: 50px;
  position: relative;
}

.search-heading{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-label {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-input {
  width: 100%;
  height: 46px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f7f6;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  font-family: "Open sans", "Arial", sans-serif;
  font-size:13px;
}

.search-input:focus {
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
  width: 78%;
}
.search-button {
  background-image: url(../svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: #b59f5b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 225px;
  right: 0;
  height:46px;
  width:50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
}

.search-button:hover{
  background-size: 28px;
  cursor:pointer;
}

.search-button:focus{
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
}

.subscription {
  margin-top: 50px;
  height: 170px;
}

.subscription-input{
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f7f6;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  font-family: "Open sans", "Arial", sans-serif;
  font-size:13px;
}

.subscription-input:focus {
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
}

.subscription-button{
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  font-family: "Open sans", "Arial", sans-serif;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
  color: #ffffff;
  margin-top: 15px;
}

.subscription-button:hover{
  font-size:18px;
  cursor:pointer;
}

.subscription-button:focus{
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
}

.button-description{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.tag-search {
  margin-top: 50px;
  height: 160px;
}

.tag-container {
  display:flex;
  flex-wrap: wrap;
}

.tag-label a {
  height:25px;
  border: 4px solid #eeeeee;
  padding:12px 14px;
  margin-top: 5px;
  text-transform:uppercase;
  font-size: 12px;
  font-weight:bold;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.themes {
  margin-top: 55px;
  height: 330px;
}

.themes-item {
  font-size: 14px;
  font-weight:bold;
  height: 45px;
  position: relative;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.themes-item:after{
  content: "";
  position: absolute;
  background-color:#eeeeee;
  height:2px;
  width: 100%;
  left:0;
  bottom:0;
}

.themes-item:hover{
  color:#b59f5b;
}

.themes-number {
  font-size: 12px;
  color:#b59f5b;
  padding-left: 2px;
  padding-bottom: 3px;
}

/*End of aside styles*/
/*Footer styles section*/

.footer{
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: auto;
}

.social-media{
  display:block;
  background-color: #f4f7f6;
  padding-bottom: 25px;
  padding-top: 30px;
}

.social-media-list{
  list-style:none;
  display:flex;
  justify-content: center;
}

.social-media-item a {
  display: block;
  width: 23px;
  height: 23px;
  font-size:0;
}

.social-media-item:hover{
  outline: 4px solid #b59f5b;
  outline-offset: 5px;
  cursor:pointer;
}

.social-media-item:nth-child(n+2){
  margin-left:25px;
}

.social-media-item:nth-child(1){
  background-image: url(../svg/004-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-media-item:nth-child(2){
  background-image: url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-media-item:nth-child(3){
  background-image: url(../svg/002-facebook-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-media-item:nth-child(4){
  background-image: url(../svg/005-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-media-item:nth-child(5){
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.copyright {
  margin-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Open sans", "Arial", sans-serif;
  opacity: 0.6;
  font-size: 12px;
}

/*End of aside styles*/
/*Media functions styles*/

@media (min-width: 641px) and (max-width: 1200px) {
  .noemi-header {
    background-image: url(../img/banner-bg-tablet.jpg);
  }

  .header {
    width: 100%;
    margin: auto;
  }

  .menu-list {
    display:none;
  }

  .top-menu::before{
    content:"";
    display: block;
    background-image: url("../svg/burger.svg");
    width: 25px;
    height: 20px;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }

  .noemi-heading{
    font-size: 2.5rem;
  }

  .in-trend-header {
    font-size: 1.125rem;
  }

  .in-trend-posts{
    flex-wrap: wrap;
  }

  .in-trend-post{
    width:49.6%;
    height: 240px;
    margin-right: 0;
  }

  .in-trend-post:nth-child(2n){
    margin-left: 0.8%;
  }

  .in-trend-post:nth-child(n+3){
    margin-top: 4px;
  }

  .tag{
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .in-trend-post-header{
    font-size: 1.0625rem;
  }

  .content{
    width: 100%;
    margin-top: 180px;
    padding-left: 4%;
    padding-right: 4%;
  }

  .posts{
  width: 60%;
  }

  .post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 545px;
  }

  .post-pic{
    width: 100%;
  }

  .post-content{
    margin-left: 0;
  }

  .post:last-child .post-content::after{
    display: none;
  }

  .post-header{
    font-size: 1.0625rem;
  }

  .post-additional-info{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post-content::after {
    content: "";
    display: block;
    background-color: #0f0d0e;
    opacity: 0.1;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .our-products{
    width:100%;
  }

  .our-products-header{
    font-size: 1.125rem;
  }

  .products{
    flex-wrap: wrap;
  }

  .product{
    width: 48.5%;
  }

  .product:nth-child(n+3){
    margin-top: 40px;
  }

  .product-header{
    font-size: 1.0625rem;
  }

  .footer{
    width:100%;
  }
}

@media (max-width: 640px) {
  .noemi-header {
    background-image: url(../img/banner-mobile.jpg);
  }

  .header {
    position: relative;
    width: 100%;
    margin: auto;
    height: 638px;
  }

  .menu-list {
    display:none;
  }

  .top-menu::before{
    content:"";
    display: block;
    background-image: url("../svg/burger.svg");
    width: 25px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .noemi-logo{
    position: absolute;
    margin: 0 auto;
    top: 225px;
    right: 12%;
    width: 76%;
    height: 60px;
    background-size: contain;
  }

  .noemi-heading{
    width: 100%;
    font-size: 1.625rem;
    line-height: 2.25rem;
    padding-top: 280px;
  }

  .in-trend{
    height: 1050px;
    padding-top: 30px;
  }

  .in-trend-header {
    font-size: 1rem;
  }

  .in-trend-posts{
    flex-wrap: wrap;
  }

  .in-trend-post{
    width: 100%;
    height: 240px;
    margin-right: 0;
  }


  .in-trend-post:nth-child(n+2){
    margin-top: 4px;
  }

  .tag{
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .in-trend-post-header{
    font-size: 1rem;
  }

  .content{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
  }

  .posts{
    width: 100%;
  }

  .post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 545px;
  }

  .post-content{
    margin-left: 0;
  }

  .post-header{
    font-size: 1rem;
  }

  .post-additional-info{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post-content::after {
    content: "";
    display: block;
    background-color: #0f0d0e;
    opacity: 0.1;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .main-control{
    margin-right: auto;
  }

  .our-products{
    margin-top: 30px;
    width:100%;
  }

  .our-products-header{
    font-size: 1rem;
  }

  .products{
    flex-wrap: wrap;
  }

  .product{
    width: 100%;
  }

  .product:nth-child(n+2){
    margin-top: 60px;
  }

  .product-header{
    font-size: 1rem;
  }

  .product-description{

  }

  .footer{
    width:100%;
  }
}


@media (max-width: 640px) and (orientation: landscape){

  .in-trend{
    height: 540px;
    padding-top: 30px;
  }

  .in-trend-post{
    width:49.6%;
    margin-top: 0;
  }

  .in-trend-post:nth-child(2n){
    margin-left: 0.8%;
  }

  .in-trend-post:nth-child(n+3){
    margin-top: 4px;
  }
}

/*Modal styles*/

.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "Open sans", "Arial", sans-serif;
}

.modal-layout{
  background-color: black;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-window{
  position: fixed;
  z-index: 3;
  width: 390px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 50px 30px;
}

.modal-window::before{
  content: "";
  background-image: url(../svg/form-x.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top:-30px;
  left: 370px;
  z-index: 2;
}

.modal-heading{
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.modal-heading::after{
  content: "";
  display: block;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-select{
  width:100%;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  background-color: #f3f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  cursor: pointer;
}

.modal-select:focus{
  outline: 5px solid #b59f5b;
  cursor: pointer;
}

.modal-form::before{
  content: "";
  -webkit-mask: url(../svg/form-arrows.svg) no-repeat 100% 100%;
  mask: url(../svg/form-arrows.svg) no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #b59f5b;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 172px;
  right: 50px;
  z-index: 8;
}

.radio-group{
  display: inline-block;
  margin-top: 5px;
}

.radio-group-text::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.radio{
  position: absolute;
  visibility: visible;
  opacity: 0;
  width: 80px;
  height: 25px;
}

.radio:checked ~ .radio-group-text::before{
  background-image: url(../svg/form-circle.svg);
}

.modal-text {
  width: 330px;
  max-width: 330px;
  min-width: 330px;
  max-height: 300px;
  min-height: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 130px;
  padding: 15px;
  border: none;
  background-color: #f3f7f6;
  font-family: inherit;
}

.modal-text:focus{
  outline: 5px solid #b59f5b;
}

.modal-radio-group{
  margin-top: 10px;
  margin-bottom: 25px;
}

.modal-button{
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
  color: #ffffff;
}

.modal-button:hover{
  font-size:18px;
  cursor:pointer;
}

@media (max-width: 640px){
  .radio-group-text::before {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }

  .modal-window::before{
    width: 30px;
    height: 30px;
    left: 360px;
    top: -40px;
  }
}

@media (max-width: 430px){
  .modal-window{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-form{
    width: 100%;
  }
}